@model List<Xlkdma.Models.Order>
@{
    ViewBag.Title = "البحث";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("search", "searchBox", FormMethod.Get))
{
   <div style="text-align:right"> @Html.TextBox("search")</div>
}

<table class="table table-striped">
    <thead>
        <tr class="search">
            <th>وصف العمل</th>
            <th>الصنايعى</th>
        </tr>
    </thead>
    <tbody >
        @if (Model.Count() == 0)
        {
            <tr colspan="3" style="color:red">
                <p style="text-align:right">هذا البحث لا يناسب أى بيانات</p>
            </tr>

        }
        else
        {
            foreach (var item in Model)
            {
                <tr class="search">
                    @if (Session["userId"] != null)
                    {
                        <td> <a href="~/home/order/@item.orderId">@item.orderName</a></td>
                        <td><a href="~/home/order/@item.orderId">@item.Worker.workerName</a></td>
                    }
                    else
                    {
                        <td> <a href="~/register/register">@item.orderName</a></td>
                        <td><a href="~/register/register">@item.Worker.workerName</a></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function contains(text_1, text_2) {
            if (text_1.indexOf(text_2) != -1)
                return true;
        }
        $("#search").keyup(function () {
            var searchText = $("#search").val().toLowerCase();
            $(".search").each(function () {
                if (!contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();

                }
            });
        });
    });
</script>